<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome.</h1>
        <p>This site is about 
	  <strong><a href="{{ '/category/Home%20Automation' | absolute_url }}">home automation</a></strong>, <strong><a href="{{ '/category/Travel' | absolute_url }}">travel</a></strong>, and anything else I find <strong><a href="{{ 'works.html' | absolute_url }}">interesting</a></strong>.</p>
      </header>
  	  <p><strong>To build a functional smart home, nearly every device needs to talk to each other.</strong> 
	  I researched and tested products in several homes to find an integrated smart home solution that works. 
	  You can find my recommendations for each category in <a href="{{ '/category/Home%20Automation' | absolute_url }}" class="button small">Home Automation</a><br>
	  I continue to update my recommendations as new products are released.</p>
	  
	  <p>The content on this site is my own personal, and independent opinion.</p>
	  
	  <p>Don't forget to check out other topics:</p>
      <ul class="actions">
        <li>
		  <a href="{{ '/category/Home%20Automation' | absolute_url }}" class="button small">Home Automation</a>
		  <a href="{{ 'category/Travel' | absolute_url }}" class="button small">Travel</a>
		  <a href="{{ '/works' | absolute_url }}" class="button small">Works</a>
		  <a href="{{ '/about' | absolute_url }}" class="button small">About</a>		  
		</li>		
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/front-page/laptop.jpg" alt="" />
    </span>
  </section>
