<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome.</h1>
        <p>This site is about 
	    <strong><a href="{{ '/category/Home%20Automation' | absolute_url }}">home automation</a></strong>, 
	    <strong><a href="{{ '/category/Travel' | absolute_url }}">travel</a></strong>, 
	    and anything else I find <strong><a href="{{ 'works.html' | absolute_url }}">interesting</a></strong>.</p>
      </header>
  	  <p><strong>To build a functional smart home, nearly every device needs to communicate with each other.</strong> 
	  This is a difficult task as every company and product has different ideas of compatibility. It's not impossible though--I 
	  researched and tested products in several homes to find an integrated smart home solution that works.</p>
	  
	  <p>Continue reading to learn more about what products work and how well they work in an integrated smart home solution. 
	  And don't forget to check out my other topics:</p>
      <ul class="actions">
        <li>
		  <a href="{{ '/category/Home%20Automation' | absolute_url }}" class="button small">Home Automation</a>  
		  <a href="{{ 'category/Travel' | absolute_url }}" class="button small">Travel</a>
		  <a href="{{ '/works' | absolute_url }}" class="button small">Works</a>
		  <a href="{{ '/about' | absolute_url }}" class="button small">About</a>		  
		</li>		
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/front-page/laptop.jpg" alt="" />
    </span>
  </section>
