<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search broken!
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>
      -->
	  
      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
		    <li><h3><a href="{{ 'index.html' | absolute_url }}">Welcome</a></h3></li>
		    <li><h3><a href="{{ '/category/Home%20Automation' | absolute_url }}">Home Automation</a></h3></li>
            <li>
              <span class="opener">Infrastructure</span>
              <ul>
			    <li><a href="{{ 'network.html' | absolute_url }}">Network/Internet</a></li>		
                <li><a href="{{ 'home-automation-hub.html' | absolute_url }}">Home Automation Hub</a></li>	
                <li><a href="{{ 'wireless-standard.html' | absolute_url }}">Smart Home Wireless Standard</a></li>	
                <li><a href="{{ 'voice-assistant.html' | absolute_url }}">Voice Assistant</a></li>						
			  </ul>
			</li>
            <li>
              <span class="opener">Media</span>
              <ul>
			    <li>
				  <span class="opener">Home Theater</span>
				  <ul>
				    <li><a href="{{ 'smart-tv.html' | absolute_url }}">Smart TVs</a></li>
				    <li><a href="{{ 'av-receiver.html' | absolute_url }}">AV Receivers</a></li>
				    <li><a href="{{ 'videogame.html' | absolute_url }}">Video Game Consoles</a></li>
				    <li><a href="{{ 'streaming-media-device.html' | absolute_url }}">Streaming Media Devices</a></li>
				  </ul>											
				</li>		
                <li><a href="{{ 'multiroom-audio.html' | absolute_url }}">Multi-room Audio</a></li>	
                <li><a href="{{ 'streaming-media-services.html' | absolute_url }}">Streaming Media Services</a></li>						
			  </ul>
			</li>			
            <li>
              <span class="opener">Security</span>
              <ul>
			    <li>
				  <span class="opener">Camera</span>
				  <ul>
			  	    <li><a href="{{ 'indoor-camera.html' | absolute_url }}">Indoor Cameras</a></li>
				    <li><a href="{{ 'doorbell-camera.html' | absolute_url }}">Doorbell Cameras</a></li>
				  </ul>											
				</li>	
			    <li>
				  <span class="opener">Sensors</span>
				  <ul>
				    <li><a href="{{ 'contact-sensor.html' | absolute_url }}">Contact Sensors</a></li>
				    <li><a href="{{ 'motion-sensor.html' | absolute_url }}">Motion Sensors</a></li>
				    <li><a href="{{ 'tilt-sensor.html' | absolute_url }}">Tilt Sensors</a></li>
				    <li><a href="{{ 'presence-sensor.html' | absolute_url }}">Presence Sensors</a></li>
				  </ul>											
				</li>	
			    <li><a href="{{ 'security-system.html' | absolute_url }}">Security System</a></li>		
                <li><a href="{{ 'smart-lock.html' | absolute_url }}">Smart Locks</a></li>						
			  </ul>
			</li>
            <li>
              <span class="opener">Lighting</span>
              <ul>
			    <li><a href="{{ 'simple-lighting.html' | absolute_url }}">Simple Lighting</a></li>		
                <li><a href="{{ 'smart-bulb.html' | absolute_url }}">Smart Bulb</a></li>	
                <li><a href="{{ 'smart-switch.html' | absolute_url }}">Smart Switch</a></li>	
                <li><a href="{{ 'light-strip.html' | absolute_url }}">Light Strip</a></li>	
                <li><a href="{{ 'remote.html' | absolute_url }}">Remotes</a></li>					
			  </ul>
			</li>			
            <li>
              <span class="opener">Gadgets</span>
              <ul>
			    <li><a href="{{ 'smart-display.html' | absolute_url }}">Smart Display</a></li>		
                <li><a href="{{ 'tablet.html' | absolute_url }}">Tablet</a></li>	
                <li><a href="{{ 'thermostat.html' | absolute_url }}">Thermostat</a></li>	
                <li><a href="{{ 'garage-door.html' | absolute_url }}">Garage Door</a></li>	
                <li><a href="{{ 'robot-vacuum.html' | absolute_url }}">Robot Vacuum</a></li>					
			  </ul>
			</li>			
		  </ul>
	      <br>
		  <ul>
            <li><h3><a href="{{ 'travel.html' | absolute_url }}">Travel</a></h3></li>
            <li>
              <span class="opener">Europe</span>
              <ul>
                <li><a href="#">TBD!</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">South America</span>
              <ul>
                <li><a href="#">TBD!</a></li>
              </ul>
            </li>
            <li><h3><a href="{{ 'photography.html' | absolute_url }}">Works</a></h3></li> 	
            <li><h3><a href="{{ 'about.html' | absolute_url }}">About</a></h3></li> 				
          </ul>
		  <br>
		 
        </nav>

  
      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Looking for more advanced help on your smart home setup?  Contact me through any of the methods listed.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:dwinnnspeaks@gmail.com?subject=Hi">{{ site.email }}</a></li>
			<li class="fa-linkedin"><a href="{{ site.linkedin_url }}">LinkedIn</a></li>
            <li class="fa-home">{{ site.city }}, {{ site.state }} <br />
            {{ site.country }}</li>
			<li class="fa-youtube"><a href="{{ site.youtube_url }}">Youtube</a></li>
			<li class="fa-github"><a href="{{ site.github_url }}">My Home Assistant configuration, on Github</a></li>

          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Images: Dan Nguyen & <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
  </div>
